* {
  box-sizing: border-box;
}

body { 
  padding-top: 170px; 
  
}


div#mainNav {
  /* width: 100vw; */
  /* margin-right: 3%;
  margin-left: 3%; */
  background-color: white;
  padding-right: 2%;
  padding-left: 2%;
  position: fixed;
  top: 0;
  z-index: 2;
}

div#topLogin {
  padding-top: 25px;
  padding-bottom: 10px;
  background: black;
  color:white;
}

p.tagLine1 {
  font-size: 22px;
  text-align: center;
}


div#loginDiv {
  width: 100vw;
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 30px;
  /* position: fixed;
  right: 0;
  bottom: 0; */
}

div.aboutUsDiv {
  color: rgb(104, 11, 104);
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: left;
}

p.aboutText {
  color: black;
}

div.howToDiv {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  color:black;
}

h1.howToHeader {
  color: rgb(104, 11, 104);
  font-size: 60px;
}

div.howToText {
  padding: 2%;
}


div.mainFooter {
  padding-top: 20px;
  background-color: black;
  text-align: center;
  color: white;
  padding: 3%;
}
/* Members Page Headlines */

h5.titleText {
  font-size: 40px;
}

p.subText {
  font-size: 30px;
}

p.titleStyle {
  text-decoration: underline;
}



