* {
  box-sizing: border-box;
}

body { 
  padding-top: 170px;   
}

div#mainNav {
  background-color: white;
  padding-right: 2%;
  padding-left: 2%;
  position: fixed;
  top: 0;
  z-index: 2;
}

div#topLogin {
  padding-top: 25px;
  padding-bottom: 10px;
  background: black;
  color:white;
}

p.tagLine1 {
  font-size: 22px;
  text-align: center;
}


div#loginDiv {
  width: 100vw;
  background-color: rgb(27, 27, 27);
  color: white;
  padding-top: 120px;
  padding-bottom: 120px;
}

div.aboutUsDiv {
  color: rgb(104, 11, 104);
  padding-top: 170px;
  padding-bottom: 30px;
  text-align: left;
}

p.aboutText {
  color: black;
}

/* This is for on-page link */
#howToSection {
  position: relative; 
  top: 60px;
}

div.howToDiv {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  color:black;
}

h1.howToHeader {
  color: rgb(104, 11, 104);
  font-size: 60px;
}

div.howToText {
  padding: 2%;
}

ul.howToList {
  text-align: left
}


div.mainFooter {
  padding-top: 20px;
  background-color: black;
  text-align: center;
  color: white;
  padding: 3%;
  margin-top: 15px;
}


/* Members Page Headlines */

h5.titleText {
  font-size: 40px;
}

p.subText {
  font-size: 30px;
}

p.titleStyle {
  text-decoration: underline;
}

/* SignUp Page Only */

div.signUpFooter {
  padding-top: 20px;
  background-color: black;
  text-align: center;
  color: white;
  padding: 3%;
  margin-top: 50px;
}

button.signUpButton {
 margin-left: 15px;
}

#quesDIv ul li{
  text-decoration: none;
}


/* media query for mobile fixed navbar*/

@media only screen and (max-width: 580px) {
  body { 
    padding-top: 210px;   
  }


/* media query for mobile section heights*/

  img#logoNav {
    padding-left: 30%;
  }

  div#loginDiv {
    padding-top: 180px;
  }  

  div.aboutUsDiv {
    padding-top: 210px;
  }

  div.howToDiv {
    padding-top: 10px;
  }

  #howToSection {
    position: relative; 
    top: 5px;
  }

  img#iconman1 {
      width: 200px;
      height:200px;
      float: right;
  }

  img#iconman2 {
    width: 200px;
    height:200px; 
  }

  div.mainFooter {
    padding-top: 25px;
  }
}